.countries {
  padding-top: 92px;
  padding-bottom: 90px;
  display: grid;
  gap: 80px;
}

.country {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "title subtitle"
    "image description"
    "button description";
  font-size: 18px;
  column-gap: 40px;
  row-gap: 48px;
}

.country__title {
  grid-area: title;
  width: 460px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: left;
  margin: 0;
}

.country__subtitle {
  grid-area: subtitle;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.country__subtitle-item {
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}

.country__subtitle-item__artists {
  font-size: 12px;
  line-height: 100%;
  color: #aaaaaa;
  padding-bottom: 8px;
}

.country__image {
  grid-area: image;
  object-fit: cover;
  width: 460px;
  height: 460px;
  box-shadow: 10px 10px 25px 0px #00000080;
}

.country__description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.country__description-item {
  font-weight: 400;
  line-height: 163%;
  font-size: 18px;
  margin: 0;
  width: 484px;
  height: fit-content;
  display: block;
}

.country__button {
  grid-area: button;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px #00000040;
  border: none;
  width: 356px;
  height: 48px;
  opacity: 1;
  border-radius: 4px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  gap: 10px;
  color: #ffffff;
}
