.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 90px;
}

.header__logo {
  width: 32px;
  height: 32px;
  left: 111px;
  top: 0px;
}

.header__title {
  max-width: 254.84px;
  max-height: 14.09px;
  font-size: 20px;
}
