.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 92px;
  padding-bottom: 92px;
  width: 100%;
  max-width: 984px;
  flex-wrap: wrap;
}

.intro__title {
  display: flex;
  flex-wrap: wrap;
}

.intro__title-text {
  width: 100%;
  height: 116px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  max-width: 830px;
}

.intro__quote {
  max-width: 699px;
}

.intro__quote-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0;
}

.intro__quote-author {
  max-width: 738px;
  text-align: right;
  height: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
}

.intro__content-text {
  max-width: 720px;
  height: 182px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  padding-top: 32px;
}
