.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 92px;
  padding-bottom: 92px;
  width: 100%;
  max-width: 984px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
  .intro {
    padding-top: 90px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 64px;
    padding-bottom: 64px;
    height: auto;
  }
}

.intro__title {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
  .intro__title {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.intro__title-text {
  width: 100%;
  height: 116px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  max-width: 830px;
}

@media screen and (max-width: 1280px) {
  .intro__title-text {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title-text {
    font-size: 32px;
    line-height: 35px;
    height: auto;
  }
}

.intro__quote {
  max-width: 699px;
}

.intro__quote-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .intro__quote-text {
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .intro__quote-text {
    padding-top: 40px;
  }
}

.intro__quote-author {
  max-width: 738px;
  text-align: right;
  height: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
}

.intro__content-text {
  max-width: 720px;
  height: 182px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  padding-top: 32px;
}

@media screen and (max-width: 1280px) {
  .intro__content-text {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .intro__content-text {
    padding-left: 16px;
    padding-right: 16px;
    height: auto;
  }
}
