.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.lead__title {
  padding-bottom: 50px;
}

.lead__title-text {
  font-size: 96px;
  max-width: 700px;
  max-height: 200px;
  text-align: center;
  margin-bottom: 50px;
}

.lead__subtitle {
max-width: 720px;
max-height: 72px;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;
margin: 0;
}

.lead__image {
width: 984px;
height: 615px;
}