@import url("../vendor/normalize.css");
@import url("../blocks/content.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/lead.css");
@import url("../blocks/intro.css");
@import url("../blocks/footer.css");

@media screen and (max-width: 1280px) {
  .header {
    padding-top: 30px;
  }
  .lead__title-text {
    font-size: 75px;
  }

  .lead__title {
    padding-left: 16px;
    padding-right: 16px;
  }

  .lead__image {
    max-width: 984px;
    height: auto;
  }

  .lead__subtitle {
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .intro {
    padding-top: 90px;
    padding-bottom: 88px;
  }

  .intro__title {
    padding-left: 24px;
    padding-right: 24px;
  }

  .intro__title-text {
    font-size: 40px;
  }

  .intro__content-text {
    padding-left: 24px;
    padding-right: 24px;
  }

  .intro__quote-text {
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .header__logo {
    width: 23px;
    height: 23px;
  }

  .header__title {
    max-width: 188px;
    max-height: 11px;
    font-size: 14px;
  }

  .lead__title {
    padding-bottom: 0;
  }

  .lead__title-text {
    font-size: 40px;
  }

  .lead__subtitle {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 40px;
  }

  .intro {
    padding-top: 64px;
    padding-bottom: 64px;
    height: auto;
  }

  .intro__title {
    padding-left: 16px;
    padding-right: 16px;
  }

  .intro__title-text {
    font-size: 32px;
    line-height: 35px;
    height: auto;
  }

  .intro__content-text {
    padding-left: 16px;
    padding-right: 16px;
    height: auto;
  }

  .intro__quote-text {
    padding-top: 40px;
  }
}
